.nav-wrapper{
  background-color: #243b5e;
}
html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }
h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #475468;
  text-align: center;
}
.card-panel {
  background-color: #6c7c96;
  min-height: 10px;

}
.moveUp{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.moveUp:hover {
  top: -20px;
  cursor:move;
  /*box-shadow: 10px 10px grey;*/
}
.middle {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
}

.transL{
  opacity: 0.60;
  min-height: 40px;
  padding-bottom: 50px;
}
.chip {
  background-color: #4f6384;
}
.roundC {
  border-radius: 200px;
  width: 100%;
  text-align: center;

}
.row-center {
  text-align: center
}
.fixed_button {
    width: 300px;
    font-family: 'Saira Extra Condensed', sans-serif;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #847ae2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: oblique;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
}
.fixed_button_append {
  width: 300px;
  height: 400px;
  font-family: 'Saira Extra Condensed', sans-serif;
  position: fixed;
  bottom: 30px;
  right: 0px;
  background-color: #847ae2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: oblique;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.chip:hover {
  color: red;
}
