/*CSS for QR Print*/
/*body {

}*/
/*.full-width-container {*/
  /*background-color: #e0e0e0;*/
  /*background-repeat: no-repeat;
  width: 1000px;
  height:900px;
  left: 0;
  width: 100%;
  float: left;

  padding-top: 0px;
  margin-top: 0px;
  overflow-x: hidden;
}*/

h1 {
  font-family: 'Sura', serif;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 10px;
}
.container-gradient {
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
  width: 100%;
}

.container-gradient-second {
  height: 335px;
  width: 100%;
}

#text {
  width:50%;
  background-color: white;
  color: black;
  display: none;
}
body {
  background-color: #fcf7f7;
}
