/*CSS for QR Print*/
/*body {

}*/
/*.full-width-container {*/
  /*background-color: #e0e0e0;*/
  /*background-repeat: no-repeat;
  width: 1000px;
  height:900px;
  left: 0;
  width: 100%;
  float: left;

  padding-top: 0px;
  margin-top: 0px;
  overflow-x: hidden;
}*/

h1 {
  font-family: 'Sura', serif;
  font-size: 50px;
  text-align: center;
  color: #857aa8;
  padding-top: 10px;
}
.container-gradient {
  background-color: white;
  height: 100px;
  width: 100%;
  box-shadow: 5px 5px 5px 3px #888888;

}

.container-gradient-second {
  height: 335px;
  width: 100%;
}

#text {
  width:50%;
  background-color: white;
  color: black;
  display: none;
}
body {
  background-color: #fcf7f7;
}
